:root {
    --black: rgba(34, 34, 34, 1);
    --pink: rgba(241, 228, 230, 1);
    --dark-pink: rgba(241, 109, 127, 1);
    --brown: rgba(33, 22, 22, 0.7);
    --grey: rgba(93, 93, 93, 1);
    --light-grey: rgba(248, 248, 248, 1);
    --grey-light: rgba(225, 225, 225, 1);
    --dark-white: rgba(251, 251, 251, 1);
    --pink-grey: rgba(248, 243, 244, 1);
}

body {
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;

}

.container {
    width: 1138px;
    margin: 0 auto;
}

.header {

    background-color: var(--black);
}

.header_wrapper {
    display: flex;
    min-height: 75px;
    justify-content: space-between;
    align-items: center;
}

.header__button {
    background: transparent;
    border: 0;
}

.header__icon {
    margin: 0 33px;
}

.focusmenu {
    display: none;
    width: 232px;
    height: 764px;
    box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
    font-family: Lato;
    position: absolute;
    right: 0px;
    top: 75px;
    background-color: var(--dark-white);
}

.menu {
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    text-transform: uppercase;
    padding: 37px 0 4px 34px;
}

.menu__title {
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    color: var(--dark-pink);
    text-transform: uppercase;
    text-decoration: none;
    padding: 20px 0 0 34px;
    display: block;
}


.menu__point {
    text-transform: capitalize;
    font-size: 14px;
    line-height: 16.8px;
    padding-left: 21px;
    padding-left: 55px;
}

.menu__focuspoint>a {
    display: block;
    text-decoration: none;
    color: var(--grey);
    padding-top: 11px;
}


.header__button:hover+.focusmenu,
.header__button:active+.focusmenu,
.header__button:focus+.focusmenu {
    display: block;
    z-index: 10;
}

.focusmenu:hover {
    display: block;
}

.brand {
    display: flex;
    margin-bottom: 23px;
}

.brand__img {
    background-color: var(--pink);
}

.brand__maintitle {
    background-color: var(--pink);
    display: flex;
    align-items: center;
    flex-grow: 1;

}

.brand__title {
    margin-left: 63px;
    font-size: 48px;
    font-weight: 900;
    line-height: 57.6px;
    text-transform: uppercase;
    position: relative;
}

.brand__title:before {
    content: '';
    width: 12px;
    height: 100%;
    background-color: var(--dark-pink);
    position: absolute;
    left: -28px;
}

.brand__title-less {
    display: block;
    font-size: 32px;
    font-weight: 700;
    line-height: 38.4px;

}

.brand__title-red {
    color: var(--dark-pink);
}

.visually-hidden {
    position: fixed;
    transform: scale(0);
}

.offer__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.offer__item {
    background-color: var(--brown);
    margin-bottom: 30px;
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.offer__item--woman {
    background-image: url(../img/for_women.jpg);
    width: 360px;
    min-height: 260px;
}

.offer__item--man {
    background-image: url(../img/for_men.jpg);
    width: 360px;
    min-height: 260px;
}

.offer__item--kids {
    background-image: url(../img/for_kids.jpg);
    width: 360px;
    min-height: 260px;
}

.offer__item--accesories {
    background-image: url(../img/accesories.jpg);
    width: 100%;
    min-height: 180px;
    margin-bottom: 96px;
}

.offer__word-pink {
    color: var(--dark-pink);
    font-size: 24px;
    font-weight: 700;
    line-height: 28.8px;
}

.catalog {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.catalog__title {
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 6px;
}

.catalog__title--p {
    font-size: 14px;
    font-weight: 300;
    line-height: 16.8px;
    text-align: center;
    color: var(--grey);
    text-transform: ;
}

.catalog__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 48px 0;
}

.catalog__product {
    width: 360px;
    background-color: var(--light-grey);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.catalog__product--text {
    width: 315px;
    min-height: 117px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 20px;
}

.catalog__product--name {
    font-size: 13px;
    font-weight: 400;
    line-height: 15.6px;
    text-transform: uppercase;
}

.catalog__product--p {
    font-size: 14px;
    font-weight: 300;
    line-height: 16.8px;
    color: var(--grey);
}

.catalog__product>img {
    position: relative;
}

.catalog__product--addtocart {
    display: none;
    align-items: center;
    justify-content: space-around;
    color: white;
    border-color: white;
    text-transform: capitalize;
    width: 139px;
    height: 44px;
    position: absolute;
    margin-top: 188px;
    background-color: transparent;
}

.catalog__product>img:hover+.catalog__product--addtocart,
.catalog__product--addtocart:hover {
    display: flex;
}

.catalog__product>img:hover {}

.price {
    color: var(--dark-pink);
}

.catalog__product--browse {
    text-transform: capitalize;
    color: var(--dark-pink);
    text-align: center;
    border-color: var(--dark-pink);
    background-color: transparent;
    width: 212px;
    height: 48px;
    align-items: center;
    border-style: solid;
}

.catalog__product--browse:hover {
    background-color: var(--dark-pink);
    color: var(--dark-white);
}

.darkside {
    background-color: var(--black);
    margin-top: 98px;
}

.darkside__list {
    display: flex;
    justify-content: space-between;
    padding: 104px 0;
}

.darkside__item {
    width: 360px;
    height: 134px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: var(--dark-white);
}

.darkside__title {
    font-size: 19.96px;
    font-weight: 400;
    line-height: 23.95px;

}

.darkside__p {
    font-size: 13.97px;
    font-weight: 400;
    line-height: 16.77px;
    text-align: center;
}

.whiteside {
    background-image: url(../img/photo_subscribe.jpg);
    width: 100%;
    height: 448px;
}

.whiteside__parts {
    display: flex;
    justify-content: space-between;
    padding-top: 96px;
}

.whiteside__part {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.whiteside__girl {
    border-radius: 50px;
    margin-bottom: 30px;
}

.whiteside__c {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    height: 99px;
    width: 360px;
}

.whiteside__c-italic {
    font-style: italic;
}

.whiteside__subscribe {
    font-size: 24px;
    font-weight: 700;
    line-height: 40.13px;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 32px;
}

.whiteside__subscribe--span {
    font-size: 18px;
    font-weight: 400;
    line-height: 30.1px;
    text-align: center;
    text-transform: uppercase;
    display: block;
}

.text__subscribe {
    width: 234px;
    height: 49px;
    background-color: var(--grey-light);
    text-transform: capitalize;
    padding-left: 22px;
    border: 0;
    border-radius: 50px 0 0 50px;
}

.button__subscribe {
    width: 100px;
    height: 49px;
    background-color: var(--dark-pink);
    color: var(--dark-white);
    text-transform: capitalize;
    border: 0;
    border-radius: 0 50px 50px 0;
    margin-left: -1px;
}

.downside {
    background-color: var(--black);
    color: var(--dark-white);
}

.downside__boxes {
    display: flex;
    justify-content: space-between;
    padding: 24px 0;
    align-items: center;
}

.downside__social {
    display: flex;
    justify-content: center;
    align-items: center;
}

.downside__social--icon {
    margin-left: 7px;
    width: 32px;
    height: 32px;
    background-color: var(--dark-white);
    display: flex;
    justify-content: center;
    align-items: center;
    fill: black;
}

.downside__social--icon:hover {
    background-color: var(--dark-pink);
    fill: white;
}

.registration__title {
    background-color: var(--pink-grey);
    font-size: 24px;
    line-height: 28.8px;
    color: var(--dark-pink);
    height: 148px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.registration-and-loyalty {
    display: flex;
}

.form-fields {
    display: flex;
    flex-direction: column;
    width: 360px;
}

.form-fields>input {
    height: 45px;
}

.form-fields>p {
    font-size: 13px;
    line-height: 15.6px;
    color: rgba(177, 177, 177, 1);
}

.form-fields>button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 9px;
    width: 167px;
    height: 50px;
    text-transform: uppercase;
    color: white;
    background-color: var(--dark-pink);
    border: 0;
}